div p{
  font-size: 25px;
}
div:nth-of-type(3){
  background: blue;
  color: white;
}
div:nth-of-type(3) p:nth-of-type(2){
  border: red solid 5px;
}
div:nth-of-type(2) em{
  background: green;
  color: white;
  font-size: 30px;
}
