body{
  background: #0c212b;
  color: white;
  text-align: center;
  font-size: 30px;
  border: 20px #44e36e groove;
  border-top: 0;
  margin: 0;
}
h1{
  font-family: 'MonteCarlo', cursive;
}
p{
  font-family: 'Lobster', cursive;
  font-size: 0.9em;
}
form{
  /*background: #f705bf;*/
  background: #3d5948;
  background-size: contain;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}
#bt{
  height: 80px;
  width: 160px;
  background: #f06705;
  margin: 15px;
  font-size: 1.2em;
  border-radius: 20px;
}
